<strong>Hello, {{ provider }} </strong>
<p>There was an appointment cancellation. Please check details below.</p>
<p>
  <strong>Customer: </strong> {{ user }} <br />
  <strong>Date/Hour: </strong> {{ date }} <br />
  <br />
  <small>
    The schedule is again available for appointments.
  </small>
</p>
